body{
    background-image: url(https://lmms.io/lsp/download_file.php?file=13546&name=LMMS_Backart_900x1050.png);
    background-repeat: no-repeat;
    background-size:150%;
    background-attachment: fixed;
}